@page "/about"

<style>
	h1 {
		color: #29314f;
	}

	.wrapper {
		margin: auto;
		width: 60%;

	}

	p {
		font-size: 1.5em;
		color: black;
	}

	h1 {
		font-size: 2em;
		color: #0059b3;
	}
</style>

<h1>About</h1>

<div class="wrapper">
	<p>
		Hello there! I'm Luyen, the creator of your Reservation/Receipt Tracker App!
		I'm a junior studying Computer Science at the University of Arkansas Fort Smith, and my dream is to work with game developers like Riot, Rockstar, and Epic Games.
	</p>
</div>