@page "/"

<style>
	h1{
		color: #29314f;
	}

	.wrapper{
		margin: auto;
		width: 60%;
	}

	p{
		font-size: 1.5em;
		color: black;
	}

	h1 {
		font-size: 2em;
		color: #0059b3;
	}
</style>
<PageTitle>About</PageTitle>

<h1>Reservation/Receipt Tracker App</h1>

<div class="wrapper">
	<p>
		Greetings my fellow adventurers, and welcome to your Reservation and Receipt Tracker App!
		This app allows you to easily track reservations and receipts, including reservation number, status, name, date, time, paid status and the total amount.
	</p>
</div>
